<mat-card>
  <mat-card-title>
    <div class="row">
      <h2 class="title">Machine learning profile</h2>
      <app-profile-status [status]="mlProfile.status"></app-profile-status>
    </div>
  </mat-card-title>
  <mat-card-subtitle>{{mlProfile.id}}</mat-card-subtitle>
  <mat-card-content>
    <div>
      {{mlProfile.title}}
    </div>
    <div class="bottom-part">
      <div class="bottom-left">
        <button
          (click)="getStatus()"
          mat-mini-fab
          color="primary"
          matTooltip="Start ML training"
          aria-label="Start ML training"
        >
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <div class="bottom-right">
        <button
          (click)="delete()"
          mat-mini-fab
          color="warn"
          matTooltip="Delete ML profile"
          aria-label="Delete ML profile"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="started">
      <mat-form-field class="frequency" appearance="outline">
        <mat-label>Frequency</mat-label>
        <mat-select [(ngModel)]="selectedRequestsFrequency" name="interval">
          <mat-option *ngFor="let interval of selectOptions" [value]="interval.value">
            {{interval.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-profile-status [status]="mlProfile.status"></app-profile-status>
      <span *ngIf="tillTheNextRequestInSecond">
           Till the next request - {{tillTheNextRequestInSecond | timer}}
        </span>
      <mat-spinner [diameter]="30" *ngIf="!tillTheNextRequestInSecond"></mat-spinner>
    </div>
  </mat-card-content>
</mat-card>

