:host {
  display: block;
}

.bottom-part {
  margin-top: 10px;
  display: flex;
  margin-bottom: 15px;
}

.bottom-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.bottom-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.row {
  display: flex;
}

.title {
  margin-right: 10px;
}

.frequency {
  width: 100px;
  .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}

.started {
  display: flex;
  flex-direction: column;
}

.status {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 10px;
}
