:host {
  display: block;
}

.bottom-part {
  margin-top: 10px;
  display: flex;
}

.bottom-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.bottom-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.row {
  display: flex;
}

.title {
  margin-right: 10px;
}
